<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{% block title %} 云撩 {% endblock %}</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {% block head %}{% endblock %}
    <style>
        div.bottom-info {
            text-align: right;
            margin: auto;
            margin-top: 64px;
        }
    </style>
</head>
<body>
<div class="container">
    {% block body %}{% endblock %}
    <div class="bottom-info">
        <a href="/">首页</a> -
        <a href="{{ url_for('url_blueprint.pua_create') }}">贡献套路</a> -
        <a href="/about">关于云撩</a>
        <p>powered by <a href="http://flask.pocoo.org/docs/0.11/">Flask</a></p>
    </div>
    <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block bottom %}{% endblock %}
</div>
</body>
</html>