{% extends 'base.html' %}

{% block title %}
    云撩
{% endblock %}

{% block head %}

    <style>
        .container {
            max-width: 600px;
        }

        div.start-logo {
            text-align: center;
        }

        div.search-bar {
            max-width: 400px;
            margin: auto;
        }

        div.search-bar input {
            width: 80%;
            display: inline;
        }

        div.search-bar div {
            width: 20%;
            display: inline;
        }

        div.hot-tags-container {
            max-width: 350px;
            margin: auto;
            margin-top: 32px;
        }

        div.hot-tags-container div {
            margin-bottom: 8px;
        }

        a {
            text-decoration: none !important;
        }
    </style>

{% endblock %}

{% block body %}
    <div class="start-logo">
        <div style="height: 100px;"></div>
        <h1>云撩</h1>
        <p>自古真情留不住&nbsp;&nbsp;总是套路得人心</p>
        <div class="search-bar">
            <input type="text" class="form-control">
            <a href="/plist">
                <div class="btn btn-success">搜索</div>
            </a>
        </div>
    </div>
    <div class="hot-tags-container well">
        <div>热门标签</div>
        <p>
            <a href="http://www.ip.cn"><span class="label label-info">破冰</span></a>
            <a href="http://www.ip.cn"><span class="label label-info">表白</span></a>
            <a href="http://www.ip.cn"><span class="label label-info">约会</span></a>
            <a href="http://www.ip.cn"><span class="label label-info">称赞</span></a>
            <a href="http://www.ip.cn"><span class="label label-info">女生专用</span></a>
        </p>
    </div>
{% endblock %}

{% block bottom %}

{% endblock %}